version: '3.8'
services:
  node-app:
    container_name: hive_db_backend
    build: ./
    restart: unless-stopped
    environment:
      CHAT_API_URL: http://service_python:8000
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespass
      POSTGRES_DB: postgres
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432  
      JWT_SECRET: hiveroomsecretkey
      JWT_EXPIRES: 1d
      PORT: 3001
      CORE_URL: http://localhost:3005
      NODE_ENV: production
      REDIS_HOST: redis       
      REDIS_PORT: 6379         
    ports:
      - "3001:3001"
      - "3002:3002"
      - "3003:3003"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  postgres:
    image: postgres:latest
    container_name: hive_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespass
      POSTGRES_DB: postgres
    ports:
      - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: hive_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
